#------------------------------------
# Vivado simulator trash
#------------------------------------

*.jou
*.log
*.pb
*.wdb
xsim.dir/*
*.vcd
#------------------------------------
# Files for another commit
#------------------------------------

#------------------------------------